{% extends "layout.html" %}

{% block heading %}
    New Post
{% endblock %}

{% block body %}
    <form action="{{ url_for('index') }}" method="post" >
       <fieldset>
        <li>
            <label for="title">
                Title: 
                <input type="text" placeholder="ex:favicon on html" id="title" name="title">
            </label>
        </li>
        <div>
                <textarea placeholder="message" rows=5 cols=55 name="note" method="get">{{note}}</textarea>
        </div>
        <button>Postar</button>
        </fieldset>
    </form>

{% endblock %}