{% extends "layout.html" %}

{% block heading %}
    Note
    <a href="{{ url_for('new_post') }}">novo post</a> 
{% endblock %}

{% block body %}

    <ul>
        {% for note in notes%}           
            <li>
                <h2>{{ note[0] }}</h2>
                <span>{{ note[1] }}</span>
                <div>
                    <a href="{{ url_for('new_post'), method='POST' }}">Editar</a>
                    <a>Excluir</a>       
                </div>
            </li>
           
        {% endfor %}
    </ul>

{% endblock %}
