{% extends "layout.html" %}

{% block heading %}
    Note
    <a href="{{ url_for('new_post')}}">novo post</a> 
{% endblock %}

{% block body %}

    <ul>
        {% for note in notes%}
            <li>
                <h2>{{ note.title }}</h2>
                <span>{{ note.message }}</span>
                <span>{{note.id}}</span>
                <div>
                    <a href="{{ url_for('edit_post',id=note.id) }}">Editar</a>
                    <a>Excluir</a>       
                </div>
            </li>
           
        {% endfor %}
    </ul>

{% endblock %}
