{% extends "layout.html" %}

{% block heading %}
    New Post
{% endblock %}

{% block body %}

    <form action="{{ url_for('index') }}" method="post" >
       <fieldset>
            {% if input_note %}
            <li>
                <textarea rows=1 cols=30 name='title'>{{ input_note.title}}</textarea>
            </li>
            <li>
                <textarea rows=5 cols=55 name='message'>{{ input_note.message }}</textarea>
            </li>
            {% else %}
            <li>
                <textarea placeholder="Title" rows=1 cols=30 name="title"></textarea>
            </li> 
            <li>
                <textarea placeholder="message" rows=5 cols=55 name="message"></textarea>
            </li>
            {% endif %}
        <button>Postar</button>
        </fieldset>
    </form>

{% endblock %}
